<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta th:insert="parts/libraries">
</head>

<body>
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <header id="header" class="d-flex flex-column justify-content-center" th:insert="parts/nav">
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>You are logged in</h1>
      <p>as <span class="typed" th:data-typed-items="${user.username}"></span></p>
    </div>
  </section><!-- End Hero -->

  <div th:insert="parts/scripts"></div>

</body>
</html>