<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div>
    <h2>Registration</h2>
    <form method="post" th:object="${userForm}" th:action="@{/registration}">
        <input th:field="${userForm.username}" placeholder="username">
        <input type="password" th:field="${userForm.password}" placeholder="password">
        <input th:field="${userForm.name}" placeholder="name">
        <input th:field="${userForm.surname}" placeholder="surname">
        <input th:field="${userForm.email}" placeholder="email">
        <input th:field="${userForm.group.description}" placeholder="IX-00">
        <input type="submit" value="Register">
    </form>
</div>

</body>
</html>