<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <meta th:insert="parts/libraries">
    <link th:href="@{/css/pythonSyntax.css}" rel="stylesheet"/>
</head>
<body>

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title" th:text="${'Task #' + task.id}"></h3>
                <div class="resume-item">
                    <h4 th:text="${task.name}"></h4>
                    <h5 th:text="${task.createdAt}"></h5>
                    <p><em>Description</em></p>
                    <ul>
                        <li th:text="${'Task owner ' + task.owner.getUsername()}"></li>
                        <li>
                            <span>Function should be called</span>
                            <strong><span th:text="${task.function.name}"></span></strong>
                        </li>
                        <li>Function should take arguments in accordance</li>
                        <ul th:each="parameter : ${task.function.getParams()}">
                            <li th:text="${'Argument ' + parameter.name + ' with type ' + parameter.type}"></li>
                        </ul>
                        <li th:text="${task.description}"></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <form th:action="@{/result/{id}(id = ${task.id})}" method="post">
                    <div id="window-wrapper">
                        <div id="top-bar">
                            <span class="top-bar-btn"></span>
                            <span class="top-bar-btn"></span>
                            <span class="top-bar-btn"></span>
                        </div>
                        <div id="content-box">
                            <textarea wrap="soft" spellcheck="false" id="textarea-input" name="code">def function():
    # your code here
    return
                            </textarea>
                            <pre id="highlight-area"></pre>
                        </div>
                    </div>
                    <input type="submit" value="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</section><!-- End Resume Section -->

</body>
<script th:src="@{/js/pythonSyntax.js}"></script>
</html>