<nav id="navbar" class="navbar nav-menu">
    <ul>
        <li><a th:href="@{/home}" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a th:href="@{/info}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Cabinet</span></a></li>
        <li><a th:href="@{/tasks}" class="nav-link scrollto"><i class="bx bx-task"></i> <span>Tasks</span></a></li>
        <li><a th:href="@{/marks}" class="nav-link scrollto"><i class="bx bx-book"></i> <span>Marks</span></a></li>
        <li><a th:href="@{/logout}" class="nav-link scrollto"><i class="bx bx-door-open"></i> <span>Exit</span></a></li>
    </ul>
</nav><!-- .nav-menu -->